<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h3>Carrinho de Compras</h3>
        </div>
        <div class="card-body">
            <div>Contagem: {{data.pedido.itensPedido.length}} produto(s)</div>

            <div>
                <ul>
                    <li *ngFor="let p of data.pedido.itensPedido">
                        <div>
                            Produto: {{p.produto.nome}}
                            <br />
                            Preço: {{p.produto.preco}}
                        </div>
                        <hr />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
