<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h3>Carrinho de Compras</h3>
        </div>
        <div class="card-body">
            <strong>Contagem: {{data.pedido.itensPedido.length}} produto(s)</strong>
            <div>Total: {{data.pedido.total | currency: "R$": true}}</div>
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Nome</td>
                            <td>Quantidade</td>
                            <td>Preço</td>
                            <td>Total</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data.pedido.itensPedido">
                            <td>{{item.produto.nome}}</td>
                            <td>{{item.quantidade}}</td>
                            <td>{{item.produto.preco | currency: "R$": true}}</td>
                            <td>{{(item.produto.preco * item.quantidade)  | currency: "R$": true}}</td>
                        </tr>
                    </tbody>
                </table>

                <a routerLink="efetivarCompra" class="btn btn-success" *ngIf="data.pedido.itensPedido.length > 0">Efetivar Compra</a>
            </div>
        </div>
    </div>
</div>

