<div class="row">
    <div class="col-sm-4" *ngFor="let p of produtos" style="margin-bottom: 10px;">
        <div class="card" style="height: 450px;">
            <div class="card-header">
                <h4>{{p.nome}}</h4>
            </div>
            <div class="card-body">
                <img src="img/produto.jpg" class="img-fluid" />
                <strong>Preço: {{p.preco | currency: "R$": true}}</strong>
            </div>

            <button id="meu-button" class="btn btn-success btn-sm" (click)="adicionarProduto(p)">Comprar</button>
        </div>
    </div>
</div>
